<div class = "row">
    {{#each artistList}}
    <div class ="col-md-4">
        <img src="{{this.images.0.url}}" alt="artist" width="200px">
        <h2>{{this.name}}</h2>
        <a href="">View Albums</a>
    </div>
    {{/each}}
</div>