<div>
    <form action="/artist-search" method="GET">
        <input type="text" name="artistName" placeholder="Introduce an artist name">
        <button>Search for an Artist</button>
    </form>
</div>